<div class="col-sm-12 footer bottom">
  <div class="row">
    <div class="col-sm-4">
      <h3>Our company</h3>
      <p>
        <%= link_to 'Some links', '#' %>
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Follow us!</h3>
      <ul class="list-inline">
        <li><%= link_to (image_tag 'facebook29.png', alt: 'facebook logo'), '#'  %></li>
        <li><%= link_to (image_tag 'linkedin12.png', alt: 'linkedin logo'), '#'  %></li>
        <li><%= link_to (image_tag 'photos12.png', alt: 'instagram logo'), '#'  %></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Contacts</h3>
      <p>
        Email: youremail.com
      </p>
    </div>
  </div>
  <p class="text-muted">© 2016 Copyrights</p>
</div>